<div class="page-content">
  <div class="form-v5-content">
    <form class="form-detail" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <h2>Login Account Form</h2>
      <div class="form-row">
        <label for="your-email">Your Email</label>
        <input
          type="text"
          name="email"
          class="input-text"
          placeholder="Your Email"
          formControlName="email"
          [class.is-valid]="formRegister.get('email')?.valid && formRegister.get('email')?.touched"
        />
        <i class="fas fa-envelope"></i>
        @if (formRegister.get('email')?.invalid && formRegister.get('email')?.touched) {
          <div class="text-danger">Email is required and must be valid</div>
        }
      </div>
      <div class="form-row">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="input-text"
          placeholder="Your Password"
          formControlName="password"
          required
          [class.is-valid]="
            formRegister.get('password')?.valid && formRegister.get('password')?.touched
          "
        />
        @if (formRegister.get('password')?.invalid && formRegister.get('password')?.touched) {
          <div class="text-danger">
            Password is required and Password must be at least 6 characters
          </div>
        }
        <i class="fas fa-lock"></i>
      </div>

      <div class="form-row-last d-flex justify-content-between">
        <input type="submit" class="register" value="Register" [disabled]="formRegister.invalid" />
        <input type="button" class="register" value="Clear" (click)="onReset()" />
      </div>
    </form>
  </div>
</div>
