<div appRoundedShadow appHoverCard class="card" style="width: 18rem">
  <img
    class="card-img-top w-100"
    [src]="product.img"
    alt="Card image cap"
    (click)="goToDetails()"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">Quantity : {{ product.quantity }}</p>
    <p class="card-text">Price : {{ product.price | currency: 'EGP' }}</p>

    @switch (product.quantity) {
      @case (0) {
        <p class="text-danger">out of stock</p>
      }
      @case (1) {
        <p class="text-primary">last one item</p>
      }
      @case (2) {
        <p class="text-primary">last two items</p>
      }
      @default {
        <p class="text-success">in stock</p>
      }
    }

    <div class="d-flex justify-content-between">
      <button
        href="#"
        class="btn btn-primary"
        [disabled]="product.quantity === 0"
        (click)="increaseStatus()"
        ;
        $event.stopPropagation()
      >
        Buy
      </button>
      <button class="btn btn-success" (click)="showDet()" ; $event.stopPropagation()>
        Details
      </button>
    </div>
  </div>
</div>
